<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="head">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
        <title>CodeFellowShip</title>
    </th:block>

    <nav id="navbar" th:fragment="nav">
        <a href="/"> Home</a>
        <span th:if ="${username}">
            <a href="/profile">Profile</a>
            <a href="/addpost">Add-Post</a>
            <a href="/">View-Posts</a>
            <a href="/logout">Log-out</a>

            <!--            <span>Hello, [[${username}]]</span>-->
        </span>
        <span th:unless ="${username}">
            <a href="/signup"> Sign Up</a>
            <a href="/login"> Login Here</a>
        </span>
    </nav>
</body>
</html>